.mapa-brasil {
	width: 75%;
	margin-right: 32px;

	@media (min-width: 768px) {
		width: 40%;
	}
}

.card{
	border-radius: 12px !important;
	&:hover{
		cursor:pointer;
	}
	@media (min-width: 768px) {
		width: 100%;
		display: block;
	}
}

.animalsIcons{
	width: 100px;
}